<div id = "header">
	<% if current_page?(root_path) %>
	  <p> All Posts </p>
	  <% elsif current_page?(about_path) %>
	    <p>About</p>
	   <% else %>
	     <%= link_to "Back to All posts", root_path %>
	   <% end %> 

	<% if user_signed_in? %>   
		<div class = "buttons">
			<button class = "button"><%= link_to "New Post", new_post_path %></button>
			<button class = "button"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>

		</div>
	<% end %>
</div>