<div id = "sidebar">
    <div id = "logo">
      <%= link_to root_path do %>
      	 <%= image_tag "blog.jpg" %>
      <% end %> 
    </div>


	<ul>
		<li class = "category"> Website </li>
		<li> <%= link_to "Blog", root_path %></li>
		<li> <%= link_to "About", about_path %> </li>
	</ul>
	<ul>
	    <li class = "category"> Social </li>
	    <li> <%= link_to "Facebook", "https://www.facebook.com/bharat.singhal1" %> </li>
	    <li> <%= link_to "Twitter", "https://www.facebook.com/bharat.singhal1" %> </li>
	    <li> <%= link_to "Github", "https://www.facebook.com/bharat.singhal1" %> </li>
	    <li> <%= link_to "Google", "https://www.google.com" %> </li>

	</ul>
	<% if !user_signed_in? %>
	  <p class = "sign_in"><%= link_to "Admin Login", new_user_session_path  %> </p>
	<% end %>
</div>